MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=accessibility_experiments
MYSQL_USER=access_user
MYSQL_PASSWORD=access_pass

DB_HOST=db
DB_PORT=3306
DB_NAME=accessibility_experiments
DB_USER=access_user
DB_PASSWORD=access_pass

FLASK_ENV=development
FLASK_DEBUG=1

OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-5.2

EVALUATOR_URL=http://evaluator:3000
APP_TIMEZONE=America/Mexico_City

DOCKER_WEB_IMAGE=gverafei/accessibility-web
DOCKER_EVALUATOR_IMAGE=gverafei/accessibility-evaluator